.card {
    display: block;
    width: 300px;
    padding: 1rem;
    & .card-header {
        display: flex;
        justify-content: space-between;
    }

    & .card-footer {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 0;
        & .cardDate {
        margin-bottom: 0;

        }

        & .card-tags {
            width: 200px;
            text-align: right;
        }


    }

    & textarea, input {
        background: none;
        border: none;
        width: 100%;
    }

    & textarea {
        resize:vertical;

    }

    .card-header-text {
        font-weight: bold;
    }




    &.bg-yellow {
        background: rgb(255, 255, 177);
    }

    &.bg-green {
        background: rgb(170, 255, 170);
    }

    /* make it dragable */
    &.dragable {
        cursor: grab;
    }

    /* make it draggable */
    &.dragging {
        cursor: grabbing;
    }

    & .card-header-options {
        position: absolute;
        top: -33px;
        right: -10px;
        display: flex;
        cursor: pointer;
    }

    & .card-header-options button {
        /* background-color: inherit; */
        margin-inline: 5px;
    }

    & .card-header-color {
        width: 50px;
        /* height: 40px; */
        background: buttonface;
        border: 1px solid black;
    }

    & .card-notification-date {
        background: buttonface;
        border: 1px solid black;
    }




}

.d-none {
    display: none;

}

#cards {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;

    &.cards-grid {
        margin-top: 5rem;
        & .card {
            position: relative !important;
            top: unset !important;
            left: unset !important;

        }
    }
    
}
